* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  width: 60%;
  /* height: 40%; */
  padding: 100px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#content {
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  font-size: 25px;
}
#heading {
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  color: crimson;
}

.buttons {
  color: white;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  /* padding: 20px; */
  /* border: 2px solid black; */
}
button {
  padding: 10px;
  /* color: white; */
  /* background-color: red;
  border: none; */
  border-radius: 10px;
}
button:hover {
  background-color: rgb(253, 101, 101);
}
#heart {
  font-size: xxx-large;
  margin-bottom: 30px;
  /* color: rgb(134, 133, 133); */
}
.heart_yes {
  color: rgb(255, 0, 200);
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); */
  /* border-radius: 5px; */
}
#saved_ones {
  margin-top: 30px;
}

#new_quote_button, #save_button, #show_saved_btn, #like_btn, #share_btn, #download_btn{
  border: 1px solid;
  background-color: white;
  color: rgb(88, 184, 152);
  font-size: 20px;
}
